<h2>Log in to your existing account</h2>
<%= link_to "Want to create a new account?", postajob_path %>
<br>

<div class="field">
  <%= f.label :email %><br>
  <%= f.text_field :email %>
</div>

<div class="field">
  <%= f.label :password %><br>
  <%= f.text_field :password %>
</div>

