      <ul class="title-area">
        <li class="name">
          <h1><%= link_to "myapp", root_path %></a></h1>
        </li>
      </ul>
      <section class="top-bar-section">
      <ul class="right">
        <li class= "divider"></li>
        <li><%= link_to "Home", root_path %></li>
        
        <%  if current_user && current_user.admin? %>
        
           <li class= "divider"></li>
          <li><%= link_to "All Jobs", jobs_path, :class => 'navbar-link'  %></li>
        <li class= "divider"></li>
         <% else %>
        <li class= "divider"></li>
        <li><%= link_to "Post a job", postajob_path %></li>
        <li class= "divider"></li>
        <% end %>
        
             <% if user_signed_in? %>
          <li class= "divider"></li>
          <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
          <li class= "divider"></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>
        <% else %>
          <li class= "divider"></li>
          <li> <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
          <li class= "divider"></li>
          <li> <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>  </li>
        <% end %>
      </ul>
    